DEBUG=True
SECRET_KEY=django-insecure-mediswift-super-secret-key-prod-ready-2026!
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=mediswift_db
DB_USER=mediswift_user
DB_PASSWORD=mediswift_secure_password_2026
DB_HOST=localhost
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
